html {
   box-sizing: border-box;
}

body {
   font-family: "Raleway", sans-serif;
   font-weight: 400;
   background-color: chocolate;
}

input[name='radio-btn'] {
   display: none;
}

.slider {
   width: 80vw;
   height: 40vw;
   margin: 2vw auto 0;
}

.slider__wrapper {
   width: 100%;
   height: 100%;
   overflow: hidden;
   border-radius: 10px;
}

.slides,
.slider__description-wrapper {
   display: flex;
   width: 400%;
   height: 100%;
}

.slider {
   transition: transform 0.5s ease-in-out;
}

.slide,
.slider__description {
   width: 25%;
   color: #fff;
   font-size: 2vw;
   transition: all 1s ease;
}


.slide img {
   width: 100%;
}

.slider__panel {
   width: 80vw;
   height: 5vw;
   display: flex;
   justify-content: space-between;
   margin: 0 auto;
   padding-top: 2vw;
}

.slider__container {
   width: 30%;
   overflow: hidden;
}

.slider__control {
   display: flex;
   justify-content: flex-end;
   width: 20%;
}

.control {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 3vw;
   height: 3vw;
   border-radius: 50%;
}

.control-point {
   width: 1.5vw;
   height: 1.5vw;
   background-color:crimson;
   border-radius: 50%;
   transition: all 0.5s ease;
   cursor: pointer;
}

.control:hover .point {
   transform: scale(1.1);
   cursor: pointer;
   background-color: #fff;
}


/* SLIDER */
#radio1:checked ~ .slider__wrapper .slides .slide--active,
#radio1:checked~.slider__panel .slider__container .slider__description-wrapper .slider__description--active  {
   margin-left: 0;
}
 
#radio2:checked ~ .slider__wrapper .slides .slide--active,
#radio2:checked~.slider__panel .slider__container .slider__description-wrapper .slider__description--active {
   margin-left: -25%;
}
 
#radio3:checked ~ .slider__wrapper .slides .slide--active,
#radio3:checked~.slider__panel .slider__container .slider__description-wrapper .slider__description--active {
   margin-left: -50%;
}
 
#radio4:checked ~ .slider__wrapper .slides .slide--active,
#radio4:checked~.slider__panel .slider__container .slider__description-wrapper .slider__description--active  {
   margin-left: -75%;
}


#radio1:checked~.slider__panel .slider__control label[for='radio1'] .control-point,
#radio2:checked~.slider__panel .slider__control label[for='radio2'] .control-point,
#radio3:checked~.slider__panel .slider__control label[for='radio3'] .control-point,
#radio4:checked~.slider__panel .slider__control label[for='radio4'] .control-point {
   background-color: transparent;
   border: 0.3vw solid crimson;
}

#radio1:checked~.slider__panel .slider__control label[for='radio1']:hover .control-point,
#radio2:checked~.slider__panel .slider__control label[for='radio2']:hover .control-point,
#radio3:checked~.slider__panel .slider__control label[for='radio3']:hover .control-point,
#radio4:checked~.slider__panel .slider__control label[for='radio4']:hover .control-point {
   border-color: #fff;
}